<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/openai/main.css}">
    <link rel="stylesheet" th:href="@{/css/openai/cat.css}">
    <link rel="stylesheet" th:href="@{/css/common/side.css}">
    <script th:src="@{/js/common/side.js}"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <title>Title</title>
    <style>
        *{
            box-sizing: border-box;
        }

        #inner{
            height: 90vh;
            padding-bottom: 30px;
        }
        #inner-side{
            height: 100%;
            outline: 1px solid #111111;
        }
        #inner-content{
            height: 100%;
            outline: 1px solid aquamarine;
        }
        #blank{
            height: 100%;
            outline: 1px solid red;
        }
    </style>
</head>
<body>
<th:block th:insert="~{common/sidebar::sidebar}"/>

<div class="main-content">
    <div class="container-fluid">
        <div id="inner" class="row">
            <div id="inner-side" class="col-md-2">
                <div></div>
            </div>
            <div id="inner-content" class="col-md-9">2</div>
            <div id="blank" class="col-md-1">3</div>
        </div>
    </div>


</div>
</body>
</html>