<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/user/sign.css}">
    <title>Login</title>
</head>
<body>

<div class="container" id="container" th:classappend="${error} eq 'signup' ? 'right-panel-active' : '' ">
  <div class="form-container sign-up-container">
    <form th:action="@{/user/signup}" method="POST" id="sign-frm">
      <h1>회원가입</h1>
      <div class="social-container">
        <a class="social" th:href="@{https://kauth.kakao.com/oauth/authorize(response_type=${'code'}, client_id=${@environment.getProperty('app.oauth2.kakao.client-id')}, redirect_uri=${@environment.getProperty('app.oauth2.kakao.redirect-uri')})}">
          <img th:src="@{/img/icon/kakao.png}">
        </a>
        <a class="social" th:href="@{/oauth2/authorization/google}"><img th:src="@{/img/icon/google.png}"></a>
      </div>

        <input name="username" placeholder="아이디 입력" th:value="${username}" >
        <span th:text="${errusername}"></span>
        <input type="password" name="password"  placeholder="비밀번호 입력" >
        <span th:text="${errpassword}"></span>
        <input type="password" name="re_password" placeholder="비밀번호 재입력" >
        <span th:text="${errre_password}"></span>
        <input type="text" name="name" placeholder="이름" th:value="${name}">
        <span th:text="${errname}"></span>
        <input type="text" name="age" placeholder="나이" th:value="${age}" >
        <span th:text="${errage}"></span>
        <input type="text" name="phone" placeholder="연락처" >
        <span th:text="${errphone}"></span>
        <input type="text" name="email" placeholder="이메일" >
        <span th:text="${erremail}"></span>
      <button type="submit">회원가입</button>
    </form>
  </div>
  <div class="form-container sign-in-container">
    <form th:action="@{/user/login}" method="POST" id="login-frm">
      <h1>로그인</h1>
      <div class="social-container">
        <a class="social" th:href="@{https://kauth.kakao.com/oauth/authorize(response_type=${'code'}, client_id=${@environment.getProperty('app.oauth2.kakao.client-id')}, redirect_uri=${@environment.getProperty('app.oauth2.kakao.redirect-uri')})}">
          <img th:src="@{/img/icon/kakao.png}">
        </a>
        <a class="social" th:href="@{/oauth2/authorization/google}"><img th:src="@{/img/icon/google.png}"></a>
      </div>

      <span id="err" th:text="${errmsg}"></span>
      <input type="text" name="username" placeholder="ID" th:value="${username}"/>
      <input type="password" name="password" placeholder="Password" />
      <a href="#">비밀번호를 잊어버렸나요?</a>
      <button type="submit">로그인</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>환영합니다.</h1>
        <p>저희는 여러분의 정보를 스까스까해서 제공해드립니다.</p>
        <button class="ghost" id="signIn">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>야 너두?</h1>
        <p>나두</p>
        <button class="ghost" id="signUp">Sign Up</button>
      </div>
    </div>
  </div>
</div>


<script th:src="@{/js/user/sign.js}"></script>
</body>
</html>