<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/user/signup.css}">
    <title>회원가입</title>
</head>
<body>

<th:block th:insert="~{common/sidebar::sidebar}"/>

<div id="signup">
<h2 class="form_title" >회원 가입</h2>
<form th:action="@{/user/signup}" method="POST" id="sign-frm">
    <input type="text" name="username" class="input" id="username" placeholder="아이디 입력" th:value="${username}" ><br>
    <div class="col-12 text-danger" th:text="${errusername}"></div>
    <input type="password" name="password" class="input" id="password" placeholder="비밀번호 입력" ><br>
    <div class="col-12 text-danger" th:text="${errpassword}"></div>
    <input type="password" name="re_password" class="input" id="re_password" placeholder="비밀번호 재입력" ><br>
    <div class="col-12 text-danger" th:text="${errre_password}"></div>
    <input type="text" name="name" id="name" class="input" placeholder="이름 입력" th:value="${name}"><br>
    <div class="col-12 text-danger" th:text="${errname}"></div>
    <input type="text" name="age" id="age" class="input" placeholder="나이 입력" th:value="${age}" ><br>
    <div class="col-12 text-danger" th:text="${errage}"></div>
    <input type="text" name="phone" id="phone" class="input" placeholder="연락처 입력" ><br>
    <div class="col-12 text-danger" th:text="${errphone}"></div>
    <input type="text" name="email" id="email" class="input" placeholder="이메일 입력" ><br>
    <div class="col-12 text-danger" th:text="${erremail}"></div>
    <button type="submit" class="btn-signup">회원 가입</button>
    <a id="kabtn" class="btn btn-lg my-1" th:href="@{https://kauth.kakao.com/oauth/authorize(response_type=${'code'}, client_id=${@environment.getProperty('app.oauth2.kakao.client-id')}, redirect_uri=${@environment.getProperty('app.oauth2.kakao.redirect-uri')})}">
        <img th:src="@{/img/kakaobtn.png}" width="240" height="35">
    </a>
    <a id="gobtn" class="btn btn-lg my-1" th:href="@{/oauth2/authorization/google}">
        <img th:src="@{/img/googlebtn.png}" width="240" height="35">
    </a>
</form>

</div>


<script th:src="@{/js/sidebar.js}"></script>
<link rel="stylesheet" th:href="@{/css/sidebar.css}">
</body>
</html>