<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
</head>

<body>
<form action="/countryinfo/listSearch" method="post">
    <label for="countryCode">국가코드</label>
    <input type="text" id="countryCode" name="countryCode"placeholder="국가코드를 입력하세요">
<!--    <label>장르</label>-->
<!--    <input type="text" placeholder="장르를 입력하세요">-->
<!--    <label>도시</label>-->
<!--    <input type="text" placeholder="도시를 입력하세요">-->
<button type="submit">확인</button>
</form>

</body>
</html>