<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>


<th:block th:fragment="comment">
    <script src="https://kit.fontawesome.com/51772bd9bd.js" crossorigin="anonymous"></script>

    <div class="container my-3 border rounded">
        <div class="mb-3 mt-3">
            <label>댓글: <span id="cmt_cnt"></span> 개</label>

                <input type="text" class="form-control" id="input_comment">
                <button type="button" class="btn btn-outline-primary" id="btn_comment">작성</button>

            <table class="table table-hover mt-3" id="cmt_table">
                <thead>
                <tr>
                    <th style="width: 16.66%">작성자</th>
                    <th>내용</th>
                    <th></th> <!-- 여기에 답글 버튼을 넣을 공간 -->
                    <th style="width: 16.66%">작성일</th>
                </tr>
                </thead>
                <tbody id="cmt_list">
                <!-- 각 댓글 행에 답글 버튼 공간 추가 -->
                <tr>
                    <td>대댓글 작성자</td>
                    <td>내용</td>
                    <td>
                        <!-- 답글 버튼 -->
                        <button class="btn btn-sm btn-outline-primary reply-btn" style="display: none;">답글</button>
                    </td>
                    <td>작성일</td>
                </tr>
                <!-- 다른 댓글들도 유사한 방식으로 추가 -->
                </tbody>
            </table>

            <!-- 대댓글 작성란 -->
            <div class="mt-3">
                <button type="button" id="recommentButton">답글</button>
                <div class="recommentForm" style="display: none;">
                    <input type="text" class="form-control" id="recomment">
                    <button type="button">작성</button>
                </div>
            </div>

        </div>
    </div>

</th:block>


</html>