<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<script th:unless="${post}">
    alert("해당 정보가 삭제되거나 없습니다")
    history.back();
</script>
<script th:inline="javascript">
    // 나중에 댓글 작성시 필요.
    const post_id = [[${post.id}]];
    const logged_id = /*[[${#authentication.principal.member.id}]]*/ 0;
    let commentCnt = /*[[${commentCnt}]]*/ 0;
</script>

<th:block th:if="${post}" th:with="logged_user=${#authentication.principal.member}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/board/detail.css}">
    <script th:src="@{/js/sidebar.js}"></script>
    <script th:src="@{/js/board/detail.js}"></script>

    <title>조회 - [[${post.title}]]</title>
</head>

<body>
<th:block th:insert="~{common/sidebar::sidebar}"/>

<form name="frmDelete" th:action="@{/board/delete}" method="post">
    <input type="hidden" name="postId" th:value="${post.id}">
</form>

    <div class="main-content">
       <div class="container">
           <div class="post-header">
               <h3 th:text="${post.title}"></h3>
               <div class="post-sub">
                    <img class="user-logo" th:src="@{/upload/thumbnail/__${post.member.thumbnail_img}__}">
                    <div class="post-info">
                        <span class="info-member" th:text="${post.member.name}"></span>
                        <span th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
                    </div>
               </div>
               <hr>
               <div class="post-body" th:utext="${post.content}">

               </div>
               <div class="post-body-bottom">
                   <img class="user-logo" th:src="@{/upload/thumbnail/__${post.member.thumbnail_img}__}">
                   <div class="post-info">
                       <a href="#"><strong>[[${post.member.name}]]</strong>님의 게시글 더보기 ></a>
                   </div>
                   <div class="crud-btn">
                       <a th:href="@{'/board/update/' + ${post.id}}" th:if="${logged_user.id == post.member.id}"><strong>수정</strong></a>
                       <a th:if="${logged_user.id == post.member.id}" id="btnDel" ><strong>삭제</strong></a>
                       <a th:if="${session.category} eq notice"
                          th:href="@{/board/notice(page=${session.page})}"><strong>목록</strong></a>
                       <a th:if="${session.category} eq free"
                          th:href="@{/board/free(page=${session.page})}"><strong>목록</strong></a>
                       <a th:if="${session.category} eq share"
                          th:href="@{/board/share(page=${session.page})}"><strong>목록</strong></a>
                   </div>
               </div>
               <hr>
               <div id="commentBody" class="post-comment">
                   <form id="replyComment">
                       <input type="hidden" name="memberId" th:value="${#authentication.principal.member.id}">
                       <input type="hidden" name="postId" th:value="${post.id}">
                       <input type="text" name="content" required>
                       <button class="reply-comment-btn" type="button">작성</button>
                   </form>
                   <hr>
                   <div class="comment-body">
                       <div class="parent" th:each="parent : ${parentComment.list}" th:data-commentId="${parent.id}">
                           <div class="display-flex">
                               <img class="user-logo" th:src="@{/upload/thumbnail/__${parent.member.thumbnail_img}__}">
                               <div class="post-info">
                                   <span class="info-member" th:text="${parent.member.name}"></span>
                                   <span th:text="${#temporals.format(parent.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
                                   <div class="toggleChild">
                                       <a><span class="reply">답글</span></a>
                                       <a>
                                           <span class="comment-icon">댓글 <strong class="child-cnt">[[${parent.childCnt}]]</strong>개
                                            <i class="bi bi-caret-down up"></i>
                                            <i class="bi bi-caret-up down"></i>
                                           </span>
                                       </a>
                                   </div>
                               </div>
                               <span class="comment-content" th:text="${parent.content}"></span>
                           </div>
                           <div class="parent-form"></div>
                           <br>
                           <div class="child-list">
                               <div class="child" th:each="child : ${parent.childComment}">
                                   <div class="display-flex">
                                       <img class="user-logo" th:src="@{/upload/thumbnail/__${child.member.thumbnail_img}__}">
                                       <div class="post-info">
                                           <span class="info-member" th:text="${child.member.name}"></span>
                                           <span th:text="${#temporals.format(child.createdDate, 'yyyy-MM-dd HH:mm')}"></span>
                                       </div>
                                       <span class="comment-content" th:text="${child.content}"></span>
                                   </div>
                                   <br>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>

           </div>
       </div>
    </div>

</body>
</th:block>
</html>























