<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <!-- 기본 메타 태그 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 외부 스타일 시트 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}"> <!-- 프로젝트 내 스타일 시트 -->
    <link rel="stylesheet" th:href="@{/css/board/list.css}"> <!-- 프로젝트 내 스타일 시트 -->
    <!-- 외부 JavaScript 라이브러리 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/51772bd9bd.js"></script>
    <!-- 프로젝트 내 JavaScript 파일 -->
    <script th:src="@{/js/sidebar.js}"></script>
    <script th:src="@{/js/board/list.js}"></script>


    <!-- 페이지 제목 -->
    <title>공지사항</title>
</head>

<body>
<!-- 인증 헤더 -->
<th:block th:insert="~{common/sidebar::sidebar}"/>

<div class="board-content">
    <div class="container">
        <div id="notice">notice</div>
        <div class="row">
            <!-- 페이징 헤더 -->
            <div class="board-filter">
                <div class="clearfix" id="pageNumber">
                    <span class="float-start me-2">총 [[${postPage.cnt}]]개</span>
                    <span class="float-start">page [[${postPage.page}]]/[[${postPage.totalPage}]]</span>
                    <span class="float-end"></span>
                </div>
                <!-- serchform -->
                <div class="serchForm">
                    <th:block th:insert="~{board/serchform::serchform}"></th:block>
                </div>
                <form name="frmPageRows">
                    <input type="hidden" name="page" th:value="${postPage.page}">
                    <input id="category" type="hidden" th:value="${postPage.category}">
                    <select class="form-select" name="pageRows">
                        <option value="10" th:selected="${postPage.pageRows==10}">10</option>
                        <option value="15" th:selected="${postPage.pageRows==15}">15</option>
                        <option value="20" th:selected="${postPage.pageRows==20}">20</option>
                        <option value="50" th:selected="${postPage.pageRows==50}">50</option>
                    </select>
                    <select class="form-select" name="sort">
                        <option name="id" value="id" th:selected="${postPage.sort eq 'id'}">최신순</option>
                        <option name=view value="view" th:selected="${postPage.sort eq 'view'}">조회순</option>
                    </select>
                </form>
            </div>
            <!-- 페이징 헤더 -->
        </div>


        <!-- 목록 -->
        <table class="table table-hover" id="boardtable">
            <thead>
            <tr>
                <th class="col-postId">글번호</th>
                <th class="col-title">제목</th>
                <th class="col-username">작성자</th>
                <th class="col-viewCnt">조회수</th>
                <th class="col-createdDate">작성일</th>
            </tr>
            </thead>
            <tbody id="th_body">
            <tr th:each="post : ${postPage.posts}">

                <td><span><a th:href="@{'/board/detail/' + ${post.id}}" th:text="${post.id}"></a></span></td>
                <td><span><a th:href="@{'/board/detail/' + ${post.id}}" th:text="${post.title}"></a></span></td>
                <td><span th:text="${post.member.name}"></span></td>
                <td><span><a th:href="@{'/board/detail/' + ${post.id}}" th:text="${post.viewCnt}"></a></span></td>
                <td><span><a th:href="@{'/board/detail/' + ${post.id}}" th:text="${#temporals.format(post.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></a></span></td>


            </tr>
            </tbody>
        </table>

        <div class="row">
            <div sec:authorize="isAuthenticated()">
                <th:block sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <div>
                        <a class="btn btn-primary btn-m" th:href="@{/board/write(category='notice')}" id="writeButton">작성</a>
                    </div>
                </th:block>
            </div>
            <!-- pagination -->
            <th:block th:insert="~{board/pagination::pagination}"></th:block>
        </div>

    </div>
</div>


</body>
</html>













































