<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="serchform">

    <form th:action="@{'/board/' + ${postPage.category} + '/search'}"  method="GET">
        <input type="text" name="keyword" placeholder="검색어를 입력하세요">
        <button type="submit" id="serchButton"><i class="bi bi-search-heart"></i></button>
        <button type="button" id="refreshButton" >
            <a th:if="${session.category} eq notice" th:href="@{/board/notice(page=${session.page})}"></a>
            <a th:if="${session.category} eq free" th:href="@{/board/free(page=${session.page})}"></a>
            <a th:if="${session.category} eq share" th:href="@{/board/share(page=${session.page})}"></a>
            <i class="bi bi-arrow-clockwise"></i></button>
    </form>

    <div th:if="${noSearchResults}" id="noSearchResults" data-no-search-results="true"></div>

</th:block>
</html>