<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="header">
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">DERROR</a>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/countryinfo/search}">이벤트</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/openai/main}">AI도우미</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/board/notice}">게시판</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">항공/숙박</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" th:href="@{/airandhotel/airport}">항공</a>
                            <a class="dropdown-item" th:href="@{/airandhotel/hotel}">숙박</a>
                        </div>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-sm-2" type="search" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</th:block>
</html>