<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="side.css">
    <title>Title</title>
</head>
<body>



    <div class="side">
        <div class="menu-list">
            <ul>
                <li>
                    <div class="menu-item">
                        <div class="user">
                            <a href="">회원</a>
                            <a href="">회원정보</a>
                        </div>
                        <div class="sign">
                            <a href="">로그인</a>
                            <a href="">로그아웃</a>
                        </div>
                    </div>
                    <div id="user-toggle">
                        <div class="usermain">
                            <a th:href="@{/user/sign}"><i class="bi bi-power"></i><span class="nav-label text-white"> 로그인</span></a>
                            <a class="navi"><i class="bi bi-person"></i><span class="nav-label text-white"> 회원</span></a>
                        </div>
                        <div class="user-list"><a sec:authorize="isAuthenticated()" th:href="@{/user/detail}" class="dropdownMember"><span class="nav-label text-white">회원정보</span></a>
                            <form sec:authorize="isAuthenticated()" th:action="@{/user/logout}" method="POST" class="dropdownLogout" th:with="member=${#authentication.getPrincipal().getMember()}">
                                <button class="btn-logout" type="submit">Log Out</button>
                            </form>
                        </div>
                    </div>

                    
                </li>

            </ul>
     
        </div>
    </div>



    <script src="side.js"></script>
</body>
</html>