<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<th:block th:fragment="sidebar">
    <script src="https://kit.fontawesome.com/bea2d0bd17.js" crossorigin="anonymous"></script>
    <div class="area"></div><nav class="main-menu">
    <ul>
        <li>
            <a th:href="@{/home}">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-item-text">
                       홈
                    </span>
            </a>
        </li>
        <li>
            <a sec:authorize="isAuthenticated()" th:href="@{/user/detail}" class="dropdownMember">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-item-text">
                   회원정보
               </span>
            </a>
        </li>
        <li class="has-subnav">
            <a th:href="@{/countryinfo/search}">
                <i class="fa fa-globe fa-2x"></i>
                <span class="nav-item-text">
                        이벤트
                    </span>
            </a>

        </li>
        <li>
            <a th:href="@{/airandhotel/airport}">
                <i class="fa fa-plane fa-2x"></i>
                <span class="nav-item-text">
                        항공
                    </span>
            </a>
        </li>
        <li>
            <a th:href="@{/airandhotel/hotel}">
                <i class="fa fa-hotel fa-2x"></i>
                <span class="nav-item-text">
                        숙박
                    </span>
            </a>
        </li>


        <div class="post-link">
            <li>
                <a>
                    <i class="fa fas fa-keyboard fa-2x"></i>
                    <span class="nav-item-text">
                             게시판
                         </span>
                </a>
            </li>
            <div class="post">
                <li class="has-subnav">
                    <a th:href="@{/board/share}">
                        <i class="fa fa-camera-retro fa-2x"></i>
                        <span class="nav-item-text">
                                공유
                            </span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/board/free}">
                        <i class="fa fa-film fa-2x"></i>
                        <span class="nav-item-text">
                                자유
                            </span>
                    </a>
                </li>
                <li>
                    <a th:href="@{/board/notice}">
                        <i class="fa fa-book fa-2x"></i>
                        <span class="nav-item-text">
                               공지사항
                            </span>
                    </a>
                </li>
            </div>
        </div>
        <li>
            <a th:href="@{/openai/main}">
                <i class="fa fa-cogs fa-2x"></i>
                <span class="nav-item-text">
                         도우미
                     </span>
            </a>
        </li>
    </ul>
    <ul class="logout">
        <li>
            <a sec:authorize="!isAuthenticated()" th:href="@{/user/sign}">
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-item-text">
                        로그인
                    </span>
            </a>
            <form id="logout-frm" sec:authorize="isAuthenticated()" th:action="@{/user/logout}" method="POST">
                <a id="logout" href="#">
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-item-text">로그아웃</span>
                </a>
            </form>
        </li>
    </ul>
</nav>
</th:block>