* {
    box-sizing: border-box;
    border-collapse: collapse;
}

html ,body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    font-weight: bold;
}

ul li {
    text-decoration: none;
    list-style: none;
}


.side{
    position: relative;
    width: 200px;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    position: relative;
}


.menu, .menu-item{
    position: absolute;
    display: flex;
    flex-direction: column;
}

.user{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.sign{
    display: none;
}





