<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="sidebar">
    <nav class="navbar-primary collapsed">
        <a href="#" class="btn-expand-collapse"><i class="bi bi-arrow-return-left"></i></a>
        <ul class="navbar-primary-menu">
            <li>
                <a th:href="@{/}"><i class="bi bi-house"></i><span class="nav-label text-white"> home</span></a>
                <a th:href="@{/countryinfo/search}"><i class="bi bi-globe-americas"></i><span class="nav-label text-white"> 이벤트</span></a>
                <a th:href="@{/board/notice}"><i class="bi bi-file-text"></i><span class="nav-label text-white"> 게시판</span></a>
                <a th:href="@{/openai/main}"><i class="bi bi-emoji-smile"></i><span class="nav-label text-white"> 도우미</span></a>
                <a th:href="@{/airandhotel/airport}" class="dropdown-item"><i class="bi bi-airplane"></i><span class="nav-label text-white"> 항공</span></a>
                <a th:href="@{/airandhotel/hotel}" class="dropdown-item"><i class="bi bi-building"></i><span class="nav-label text-white"> 숙박</span></a>
                <a th:href="@{/user/login}" class="dropdown-item"><i class="bi bi-power"></i><span class="nav-label text-white"> 로그인</span></a>

            </li>
        </ul>
    </nav>
</th:block>
</html>