<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <script defer="defer" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmbklGl2j_SfMS6KoEyLdlau49VeFW_xc&callback=myMap"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/event/info.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/common/side.css}">
    <script th:src="@{/js/common/side.js}"></script>
    <script th:src="@{/js/event/info.js}"></script>

</head>

<body>
<th:block th:insert="~{common/sidebar::sidebar}"/>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <!-- 1번 컨텐츠 -->
            <div class="col-md-6">
                <div class="main_one">
                    <input type="hidden" id="master_id" th:attr="master_id=${info.id}">
                    <p>
                        <label class="one_name" style="color: crimson">이벤트 제목 :
                            <span id="title" th:text="${info.name}" th:attr="title=${info.name}"></span>
                        </label>
                    </p>
                    <th:block th:each="venu : ${info.embed.venues}">
                        <p>
                            <label>국가 이름 :
                                <span  id="national" th:text="${venu.country.name}" th:attr="national=${venu.country.name}"></span>
                            </label>
                        </p>
                        <p>
                            <label>도시 이름 :
                                <span th:text="${venu.city.name}"></span>
                            </label>
                        </p>
                        <p>
                            <label>장소 이름 :
                                <span th:text="${venu.name}"></span>
                            </label>
                        </p>
                    </th:block>
                    <p>
                        <label>유형 :
                            <span th:text="${info.type}"></span>
                        </label>
                    </p>

                    <th:block th:each="classifi : ${attr.classifications}">
                        <p>
                            <label>대분류 :
                                <span th:text="${classifi.segment.name}"></span>
                            </label>
                        </p>
                        <p>
                            <label>중분류 :
                                <span th:text="${classifi.genre.name}"></span>
                            </label>
                        </p>
                        <p>
                            <label>소분류 :
                                <span th:text="${classifi.subGenre.name}"></span>
                            </label>
                        </p>
                    </th:block>

                    <th:block th:each="venu : ${info.embed.venues}">
                        <p>
                            <label>주소 :
                                <span th:text="${venu.address.line1}"></span>
                            </label>
                        </p>
                    </th:block>

                    <p>
                        <label>현지 시간 :
                            <span id="created_date" th:text="${info.dates.start.localDate}" th:attr="created_date=${info.dates.start.localDate}"></span>&nbsp;
                            <span th:text="${info.dates.start.localTime}"></span>
                        </label>
                    </p>
                    <div class="col-md-12">
                        <div class="main_four">
                            <a href="/airandhotel/airport">항공정보조회</a>
                            <button id="addEventButton" class="btn btn-secondary btn-lg">일정 추가</button>
                        </div>
                    </div>

                </div>
                <!-- 2번 -->
                <div class="col-md-12">
                    <div class="main_two">
                        <img id="thumbnail" height="400px" style="width: 855px"
                             th:each="image : ${info.images}" th:if="${image.width == 640 and image.height == 427}"
                             th:src="${image.url}"/>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                    <!-- 3번 -->
                    <div class="col-md-12">
                        <div class="main_three" id="googleMap"></div>
                    </div>
                </div>
            </div>
            <!-- 4번 -->
        </div> <!-- 맨위에 row -->
    </div> <!-- container-fluid -->
</div>

<!-- 지도 위도, 경도 -->
<div id="latitude" style="display: none" th:text="${loc.location.latitude}"></div>
<div id="longitude" style="display: none" th:text="${loc.location.longitude}"></div>

<script defer="defer">

    // 일정 추가 버튼에 이벤트 리스너 추가
    document.getElementById('addEventButton').addEventListener('click', function () {
        const thumbnailElement = document.getElementById('thumbnail');

        const eventData = {
            master_id: document.getElementById('master_id').getAttribute('master_id'),
            title: document.getElementById('title').getAttribute('title'),  // 이벤트 제목
            created_date: document.getElementById("created_date").getAttribute('created_date'),  // 현지 시간
            national: document.getElementById('national').getAttribute('national'),
            thumbnail: thumbnailElement.getAttribute('src'),  // 이미지 URL (조건에 맞는 첫 번째 이미지)
        };
        console.log("check: ", eventData)

        // 데이터베이스에 저장할 데이터
            saveEventDatabase(eventData);
    });

    // 데이터를 데이터베이스에 저장하는 함수
    function saveEventDatabase(eventData) {
        console.log(JSON.stringify(eventData));
        // AJAX 또는 Fetch API를 사용하여 데이터를 백엔드로 전송
        fetch(`/countryinfo/info`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(eventData),
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! Status: ${response.status}`);
                }
                return response.text(); // JSON 대신 text() 사용
            })
            .then(data => {
                // 성공적으로 데이터를 전송하고 나면 팝업을 표시하거나 다른 작업을 수행합니다.
                console.log('데이터베이스에 저장 성공:', data);

                // 성공 팝업창 표시
                alert("일정이 추가 되었습니다")
            })
            .catch(error => {
                console.error('데이터베이스에 저장 중 오류 발생:', error);
            });
    }

</script>

</body>
</html>
