<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>이벤트 상세 정보</title>
    <script defer="defer"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCmbklGl2j_SfMS6KoEyLdlau49VeFW_xc&callback=myMap"></script>
    <link rel="stylesheet" th:href="@{/css/event/info.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
</head>

<body>
<th:block th:insert="~{common/sidebar::sidebar}"/>

<div class="main-content">
    <div class="container-fluid">
        <div class="row">
                    <!-- 1번 컨텐츠 -->
            <div class="col-md-6">
                <div class="main_one">
                    <p>
                        <label>이벤트 제목 :
                            <span th:text="${info.name}"></span>
                        </label>
                    </p>
                    <p>
                        <label>유형 :
                            <span th:text="${info.type}"></span>
                        </label>
                    </p>

                    <th:block th:each="classifi : ${attr.classifications}">
                        <p>
                            <label>대분류 :
                                <span th:text="${classifi.segment.name}"></span>
                            </label>
                        </p>
                        <p>
                            <label>중분류 :
                                <span th:text="${classifi.genre.name}"></span>
                            </label>
                        </p>
                        <p>
                            <label>소분류 :
                                <span th:text="${classifi.subGenre.name}"></span>
                            </label>
                        </p>
                    </th:block>

                    <th:block th:each="venu : ${info.embed.venues}">
                        <p>
                            <label>국가 이름 :
                                <span th:text="${venu.country.name}"></span>
                            </label>
                        </p>
                        <p>
                            <label>도시 이름 :
                                <span th:text="${venu.city.name}"></span>
                            </label>
                        </p>
                        <p>
                            <label>장소 이름 :
                                <span th:text="${venu.name}"></span>
                            </label>
                        </p>
                        <p>
                            <label>주소 :
                                <span th:text="${venu.address.line1}"></span>
                            </label>
                        </p>
                    </th:block>

                    <p>
                        <label>현지 시간 :
                            <span th:text="${info.dates.start.localDate}"></span>&nbsp;
                            <span th:text="${info.dates.start.localTime}"></span>
                        </label>
                    </p>

                    <th:block th:each="venu : ${info.embed.venues}">
                        <p>
                            <label>다가오는 이벤트 총 개수 :
                                <span th:text="${venu.upcomingEvents._total}"></span>
                            </label>
                        </p>
                    </th:block>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row">
                        <!-- 2번 -->
                    <div class="col-md-12">
                        <div class="main_two">
                            <img th:each="image : ${info.images}" th:if="${image.width == 640 and image.height == 427}" style="width: 883px" height="400px"
                                 th:src="${image.url}"/>
                        </div>
                    </div>
                    <!-- 3번 -->
                    <div class="col-md-12">
                        <div class="main_three" id="googleMap"></div>
                    </div>
                </div>
            </div>
                <!-- 4번 -->
                <div class="col-md-12">
                    <div class="main_four">
                        <a href="/airandhotel/airport">항공정보조회</a>
                        <button id="addEventButton" onclick="showEventDetails()">일정 추가</button>
                    </div>
                </div>
        </div> <!-- 맨위에 row -->
    </div> <!-- container-fluid -->
</div>

<div id="latitude" style="display: none" th:text="${loc.location.latitude}"></div>
<div id="longitude" style="display: none" th:text="${loc.location.longitude}"></div>

<script defer="defer">
    function myMap() {
        let latitudeElement = document.getElementById('latitude')
        let longitudeElement = document.getElementById('longitude')

        let lat = parseFloat(latitudeElement.textContent);
        let lng = parseFloat(longitudeElement.textContent);

        const mapProp = {
            center: new google.maps.LatLng(lat, lng),
            zoom: 17,
        };
        const map = new google.maps.Map(document.getElementById('googleMap'), mapProp);

        const myPos1 = {lat: lat, lng: lng};
        let marker1 = new google.maps.Marker({position: myPos1});
        marker1.setMap(map);
    };


    // var requestOptions = {
    //     method: 'GET',
    //     redirect: 'follow'
    // };
    // fetch("https://app.ticketmaster.com/discovery/v2/events?apikey=JVSEuY5G6jkq6i2eYx4EX53D0z5tZz64&locale=*", requestOptions)
    //     .then(response => response.text())
    //     .then(result => console.log(result))
    //     .catch(error => console.log('error', error));



</script>

<link rel="stylesheet" th:href="@{/css/sidebar.css}">
<script th:src="@{/js/sidebar.js}"></script>
</body>
</html>
