<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <style>
        .event-card {
            cursor: pointer;
            margin: 5px;
            width: 470px;
        }
    </style>
</head>
<body>
<th:block th:insert="~{common/sidebar::sidebar}"/>
<div class="main-content">
<h1>이벤트 정보 조회</h1>


<label for="countryCode">국가 코드:</label>
    <select id="countryCode">
        <option>선택하세요</option>
        <option th:each="code : ${codes}" th:value="${code.key}">
            <span th:text="${code.value}"></span>
        </option>
    </select>

<label for="classification">장르:</label>
    <select id="classification" placeholder="장르를 입력하세요">
        <option th:each="classification : ${classifications}" th:value="${classification.key}">
            <span th:text="${classification.value}"></span>
        </option>
    </select>

<label for="city">도시:</label>
<input id="city" placeholder="도시를 입력하세요" type="text">

<button onclick="getEventInformation(0)">확인</button>

<hr>
<br>

<div id="result"></div>
<div id="paging"></div>
</div>
<script>

    let currentPage = 1;
    let totalPages;
    function getEventInformation(targetPage) {
        const countryCode = document.getElementById('countryCode').value;
        const classificationName = document.getElementById('classification').value;
        const apiUrl = `http://localhost:8080/countryinfo/list?countryCode=${countryCode}&page=${targetPage}&classificationName=${classificationName}`;
        console.log(apiUrl)
        // if (!countryCode) {
        //     alert('국가 코드를 선택하세요.');
        //     return;
        // }
        // API 요청
        fetch(apiUrl)
            .then(response => response.json())
            .then(data => {
                if (data && data._embedded && data._embedded.events) {
                    if (data._embedded.events.length === 0) {
                        // 이벤트 목록이 없을 때의 처리
                        alert('적절한 이벤트가 없습니다.');
                    } else {
                        list(data)
                    }
                }else {
                    alert('국가 코드를 선택하세요')
                }
            })
            .catch(error => {
                console.error('데이터를 가져오는 중 오류 발생:', error);
            });

        function list(data) {
            const embedded = data._embedded;
            const events = embedded.events;
            const page = data.page.number;
            totalPages = data.page.totalPages;


            console.log(embedded);
            console.log(events);
            console.log(totalPages);
            console.log(page)

            const resultElement = document.getElementById('result');
            let htmlString = `<div class="card-container row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">`
            for (var event of events) {
                for (var venue of event._embedded.venues) {
                    var imageUrl = event.images.find(image => image.url.includes('TABLET_LANDSCAPE_3_2'));
                    htmlString += `
                        <div class="col event-card" onclick="redirectToLoadInfo()">
                            <form id="getDetailEvent" action="http://localhost:8080/countryinfo/info">
                                <input id="eventId" type="hidden" name="eventId" value="${event.id}">

                            </form>
                            <div class="card h-100">
                                <img src="${imageUrl ? imageUrl.url : event.images[0].url}" width="455" height="350" style="max-width: 100%; max-height: 100%;">
                                <div class="card-body">
                                    <p><strong>이벤트 제목:</strong> ${event.name}</p>
                                    <p><strong>장소 이름:</strong> ${venue.name}</p>
                                    <p><strong>도시 이름:</strong> ${venue.city.name}</p>
                                    <p><strong>현지 시간:</strong> ${event.dates.start.localDate} ${event.dates.start.localTime  ? event.dates.start.localTime : ''}</p>
                                </div>
                            </div>
                        </div>
            `;
                }
            }
            htmlString += `</div>`;
            resultElement.innerHTML = htmlString;

            renderPagination(totalPages);
        } // end list()

        function renderPagination() {
            const pagingElement = document.getElementById('paging');
            const pagesPerGroup = 10;

            let groupNumber = Math.ceil(currentPage / pagesPerGroup);
            let startPage = (groupNumber - 1) * pagesPerGroup + 1;
            let endPage = Math.min(startPage + pagesPerGroup - 1, totalPages);

            let pagingHtml = `<br> <nav aria-label="페이지 네비게이션" style="display: flex; justify-content: center;"><ul class="pagination">`;
            // 이전 버튼
            pagingHtml += `<li class="page-item"><a class="page-link" href="#" onclick="changePage(${startPage - 1})"><<</a></li>`;
            // 페이지 숫자
            for (let i = startPage; i <= endPage; i++) {
                pagingHtml += `<li class="page-item"><a class="page-link" href="#" onclick="changePage(${i})">${i}</a></li>`;
            }
            // 다음 버튼
            pagingHtml += `<li class="page-item"><a class="page-link" href="#" onclick="changePage(${endPage + 1})">>></a></li>`;

            pagingHtml += `</ul></nav>`;
            pagingElement.innerHTML = pagingHtml;

        } // end renderPagination()
    } // end getEventInformation
        function changePage(targetPage) {
            if (targetPage >= 1 && targetPage <= totalPages){
                currentPage = targetPage;
                getEventInformation(targetPage -1)
            }
        } // end changePage
    function redirectToLoadInfo() {
        // 이벤트의 상세 정보를 전달
        let event = document.getElementById("getDetailEvent");
        let eventId = document.getElementById("eventId");
        console.log(eventId.value);
        event.submit();

    }
    //
    // <input id="countyCode" type="hidden" name="countryCode" value="${countryCode}">
</script>
<link rel="stylesheet" th:href="@{/css/sidebar.css}">
<script th:src="@{/js/sidebar.js}"></script>
</body>
</html>
