<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>달력</title>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- FullCalendar JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.js"></script>

    <!-- FullCalendar CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.10.2/main.css">
    <link rel="stylesheet" th:href="@{/css/calendar.css}">

    <link rel="stylesheet" th:href="@{/css/common/side.css}">
    <script th:src="@{/js/common/side.js}"></script>
</head>

<body>
<th:block th:insert="~{common/sidebar::sidebar}"/>
<div class="main-content container-fluid">
    <div class="row">
        <!-- 캘린더를 표시할 공간 -->
        <div class="col-lg-6" id="calendar"></div>

        <!-- Modal -->
        <div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="eventModalLabel">My Schedule</h5>
                    </div>
                    <div class="modal-body">
                        <label for="eventTitle">일정 제목:</label>
                        <input type="text" id="eventTitle" class="form-control">
                        <label for="eventStartDate">시작 날짜:</label>
                        <input type="date" id="eventStartDate" class="form-control">
                        <label for="eventEndDate">종료 날짜:</label>
                        <input type="date" id="eventEndDate" class="form-control">
                        <label for="eventColor">색상:</label>
                        <select id="eventColor" class="form-control">
                            <option value="#228B22">초록</option>
                            <option value="#FFD700">노랑</option>
                            <option value="#000080">파랑</option>
                            <option value="#8B0000">빨강</option>
                            <option value="#800080">보라</option>
                        </select>
                        <label for="eventMemo">메모:</label>
                        <textarea id="eventMemo" class="form-control" rows="6"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-primary" onclick="addEvent()">일정 추가</button>
                        <button type="button" class="btn btn-warning text-white" onclick="updateEvent()">일정 수정</button>
                        <button type="button" class="btn btn-danger" onclick="deleteEvent()">일정 삭제</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 내가 추가한 전체일정 보기 -->
        <div id="Schedule-container" class="col-lg-6">
            <h3>나의 전체일정 보기</h3>
            <hr>
            <div id="allEventsContainer"></div>
        </div>
    </div>
</div>

</body>
<script>
    // FullCalendar를 초기화하고 설정
    var calendar = new FullCalendar.Calendar(document.getElementById('calendar'), {
        // 캘린더 설정
        headerToolbar: {
            left: 'prev today',
            center: 'title',
            right: 'addEventButton next'
        },
        locale: 'ko',
        timeZone: 'Asia/Seoul',
        themeSystem: 'bootstrap5',
        contentHeight: 700,
        displayEventTime: false,
        editable: true, // 드래그 앤 드롭 활성화
        selectable: true, // 일정 선택 활성화
        views: {
            dayGridMonth: {
                dayMaxEventRows: 3, // 이벤트 최대 표시 행 수
                dayMaxEvents: true, // 특정 날짜에 표시되는 최대 이벤트 수
                eventDisplay: 'auto', // 이벤트를 블록으로 표시하도록 설정
            },
        },
        events: {
            url: 'http://ec2-43-203-14-14.ap-northeast-2.compute.amazonaws.com/api/calendar/events',
            method: 'GET',
        },
        customButtons: {
            addEventButton: {
                text: 'Schedule',
                click: function () {
                    $('#eventModal').modal('show');
                }
            }
        },
        eventClick: function (info) {
            var event = info.event;
            // 모달 열기
            $('#eventModal').modal('show');
            // 클릭한 이벤트의 정보를 모달에 표시
            $('#eventTitle').val(event.title);
            $('#eventStartDate').val(event.startStr.slice(0, 10));
            $('#eventEndDate').val(event.endStr.slice(0, 10));
            $('#eventColor').val(event.backgroundColor);
            $('#eventMemo').val(event.extendedProps.memo);
            selectedEventId = event.id;
        },
        select: function (info) {
            $('#eventModal').modal('show');
            $('#eventStartDate').val(info.startStr.slice(0, 10));
            $('#eventEndDate').val(info.endStr.slice(0, 10));
        },
        dateClick: function (info) {
            $('#eventModal').modal('show');
            $('#eventStartDate').val(info.dateStr.slice(0, 10));
            $('#eventEndDate').val(info.dateStr.slice(0, 10));
        },
    });

    // 모달 닫기 이벤트 핸들링
    $('#eventModal').on('hidden.bs.modal', function () {
        clearEventFields(); // 입력 필드 및 이벤트 초기화
        calendar.unselect(); // 날짜 선택 해제
    });

    // 캘린더 다시 렌더링
    calendar.render();

    // 일정 추가 함수
    function addEvent() {
        // 제목과 시작/종료 날짜 및 시간, 색상 가져오기
        var title = $('#eventTitle').val();
        var startDate = $('#eventStartDate').val();
        var endDate = $('#eventEndDate').val();
        var allDay = true;
        var color = $('#eventColor').val();
        var memo = $('#eventMemo').val();

        // 입력 값이 유효한지 확인
        if (title && startDate && endDate && color) {
            var eventData = {
                title: title,
                startDate: startDate,
                endDate: endDate,
                allDay: allDay,
                color: color,
                memo: memo
            };

            // 추가
            $.ajax({
                type: 'POST',
                url: 'http://ec2-43-203-14-14.ap-northeast-2.compute.amazonaws.com/api/calendar/events/add',
                contentType: 'application/json',
                data: JSON.stringify(eventData),
                success: function (response) {
                    alert('일정 추가에 성공했습니다.');
                    console.log(response); // 성공 또는 실패 메시지를 콘솔에 출력
                    // 서버에서 할당한 ID를 사용하여 FullCalendar에서 사용하는 ID 설정
                    selectedEventId = response.id;
                    // 일정 추가 성공 후 캘린더 업데이트
                    updateCalendar();
                },
                error: function (error) {
                    alert('일정 추가에 실패했습니다.');
                    console.error(error);
                }
            });

            $('#eventModal').modal('hide');
        } else {
            alert('모든 필드를 입력하세요.');
        }
        // 입력 필드 초기화
        clearEventFields();
    }

    // 일정 수정 함수
    function updateEvent() {
        // 나머지 데이터 가져오기
        var title = $('#eventTitle').val();
        var startDate = $('#eventStartDate').val();
        var endDate = $('#eventEndDate').val();
        var allDay = true;
        var color = $('#eventColor').val();
        var memo = $('#eventMemo').val();

        if (title && startDate && endDate && color) {
            var eventData = {
                id: selectedEventId, // 수정할 일정의 ID
                title: title,
                startDate: startDate,
                endDate: endDate,
                allDay: allDay,
                color: color,
                memo: memo
            };

            // 수정된 데이터를 서버로 전송
            $.ajax({
                type: "POST",
                url: "http://ec2-43-203-14-14.ap-northeast-2.compute.amazonaws.com/api/calendar/events/update",
                data: eventData,
                success: function (response) {
                    alert('일정 수정에 성공했습니다.');

                    // 캘린더에서 이벤트 업데이트는 필요하지 않습니다.
                    // 서버에서 업데이트된 데이터를 다시 가져오면 됩니다.

                    // 모달 닫기
                    $('#eventModal').modal('hide');
                    // 일정 추가 성공 후 캘린더 업데이트
                    updateCalendar();
                },
                error: function (error) {
                    alert('일정 수정에 실패했습니다.');
                    console.error(error);
                }
            });
        } else {
            alert('모든 필드를 입력하세요.');
        }
        // 입력 필드 초기화
        clearEventFields();
    }

    // 일정 삭제 함수
    function deleteEvent() {
        var selectedEvent = calendar.getEventById(selectedEventId);

        if (selectedEvent) {
            if (confirm('일정을 삭제하시겠습니까?')) {
                $.ajax({
                    type: 'DELETE',
                    url: 'http://ec2-43-203-14-14.ap-northeast-2.compute.amazonaws.com/api/calendar/events/' + selectedEventId, // 엔드포인트 경로에 /events/ 추가
                    success: function (response) {
                        alert('일정이 삭제되었습니다.');
                        console.log(response);
                        calendar.getEventById(selectedEventId).remove();
                        $('#eventModal').modal('hide');
                        // 일정 추가 성공 후 캘린더 업데이트
                        updateCalendar();
                    },
                    error: function (error) {
                        alert('일정 삭제에 실패했습니다.');
                        console.error(error);
                    }
                });
            }
        } else {
            alert('삭제할 일정을 선택하세요.');
        }
        // 입력 필드 초기화
        clearEventFields();
    }

    // 입력 필드 초기화 함수
    function clearEventFields() {
        $('#eventTitle').val('');
        $('#eventStartDate').val('');
        $('#eventEndDate').val('');
        $('#eventColor').val('#ff0000'); // 초기 색상 설정
        $('#eventMemo').val(''); // 메모 초기화
    }

    // 캘린더 업데이트 함수
    function updateCalendar() {
        calendar.refetchEvents(); // 또는 calendar.render();
        fetchAndRenderEvents();
    }

    // 서버로부터 일정 데이터를 받아와서 동적으로 화면에 추가하는 함수
    function fetchAndRenderEvents() {
        $.ajax({
            url: 'http://ec2-43-203-14-14.ap-northeast-2.compute.amazonaws.com/api/calendar/events', // 일정 데이터를 제공하는 엔드포인트
            method: 'GET',
            dataType: 'json',
            success: function (data) {
                // 받아온 데이터를 이용하여 화면에 일정 목록 추가
                renderEvents(data);
            },
            error: function (error) {
                console.error('Error fetching events:', error);
            }
        });
    }

    // 받아온 일정 데이터를 이용하여 화면에 동적으로 추가하는 함수
    function renderEvents(events) {
        var table = $('<table>').addClass('table table-striped text-center');

        // Thead 구성
        var thead = $('<thead>');
        var headerRow = $('<tr>')
            .append($('<th>').text('제목'))
            .append($('<th>').text('기간'))
            .append($('<th>').text('메모'));
        thead.append(headerRow);
        table.append(thead);

        // Tbody 구성
        var tbody = $('<tbody>');

        // 받아온 일정 목록을 순회하면서 동적으로 추가
        events.forEach(function (event) {
            var eventRow = $('<tr>')
                .append($('<td>').text(event.title))
                .append($('<td>').text(event.startDate + ' ~ ' + event.endDate))
                .append($('<td>').text(event.memo));

            tbody.append(eventRow);
        });

        table.append(tbody);

        // 기존에 있던 내용을 비우고 테이블을 컨테이너에 추가
        $('#allEventsContainer').empty().append(table);
    }

    fetchAndRenderEvents();
</script>
</html>
