a {
    text-decoration: none;
}

.dropdownMember, .dropdownLogout {
    background-color: #666666;
}


.dropdownLogout {
    display: none;
    padding-top: 4px;
    padding-bottom: 4px;

}

.btn-logout {
    color: white;
    width: 200px;
    text-align: left;
    padding-left: 20px;

}

.navi {
    cursor: pointer;
}

.dropdownLogout:hover {
    background-color: #111111;
    color: #f9f9f9;
    padding-right: 20px;
}

.navbar-global {
    background-color: indigo;
}

.navbar-global .navbar-brand {
    color: white;
}

.navbar-global .navbar-user > li > a {
    color: white;
}

.navbar-primary {
    background-color: #333;
    bottom: 0px;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 200px;
    z-index: 8;
    overflow: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.navbar-primary.collapsed {
    width: 100px;
}

.navbar-primary.collapsed .glyphicon {
    font-size: 22px;
}

.navbar-primary.collapsed .nav-label {
    display: none;
}

.btn-expand-collapse {
    position: absolute;
    display: block;
    left: 0px;
    bottom: 0;
    width: 100%;
    padding: 8px 0;
    border-top: solid 1px #666;
    color: grey;
    font-size: 20px;
    text-align: center;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
    background-color: #222;
    color: white;
}

.btn-expand-collapse:active {
    background-color: #111;
}

.navbar-primary-menu,
.navbar-primary-menu li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar-primary-menu li a {
    display: block;
    padding: 10px 18px;
    text-align: left;
    border-bottom: solid 1px #444;
    color: #ccc;
}

.navbar-primary-menu li a:hover {
    background-color: #000;
    text-decoration: none;
    color: white;
}

.navbar-primary-menu li a .glyphicon {
    margin-right: 6px;
}

.navbar-primary-menu li a:hover .glyphicon {
    color: orchid;
}

.main-content {
    margin-top: 60px;
    margin-left: 200px;
    padding: 20px;
}

.board-content {
    margin-left: 200px;
    padding: 20px;
}

.collapsed + .main-content {
    margin-left: 100px;
}

.collapsed + .board-content {
    margin-left: 100px;
}

.board-list {
    margin-left: 20px; /* 들여쓰기 적용 */
}

.board-list a {
    display: block; /* 각 항목이 새로운 줄에 표시되도록 설정 */
}

.board-list a:nth-of-type(1)::before {
    content: "공지사항";
    font-size: 16px;
}

.board-list a:nth-of-type(2)::before {
    content: "자유게시판";
    font-size: 16px;
}

.board-list a:nth-of-type(3)::before {
    content: "공유갤러리";
    font-size: 16px;
}

.collapsed .board-list a:nth-of-type(1)::before {
    content: "공지";
    font-size: 12px;
}

.collapsed .board-list a:nth-of-type(2)::before {
    content: "자유";
    font-size: 12px;
}

.collapsed .board-list a:nth-of-type(3)::before {
    content: "갤러리";
    font-size: 12px;
}


