<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/bea2d0bd17.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../../static/css/openai/chat.css">
    <link rel="stylesheet" href="../../../static/css/openai/cat.css">

    <title>info</title>
</head>
<body>
    

    <div class="container">
        <div class="mode">
            <button>번역</button>
            <button>채팅</button>
            <button>정보</button>
        </div>
        <div class="chat-box user-chat">            
            <span>zzz </span>
            
        </div>
        <div class="chat-box cat-chat">
            <span>zzzz</span>
        </div>
            <form class="keyword-frm">
                <label class="icon-label" for="keyword">
                    <i class="fa-solid fa-pencil"></i>
                    <input type="text" id="keyword">
                </label>            
            </form> 
    </div>
    <div class="sub-contianer">
        <div class="cat-box">
            <img id="base" class="cat" src="/../../../4k/base.png">
            <img class="cat left-down" src="/../../../4k/base_0100.png">
            <img class="cat left-down" src="/../../../4k/base_1000.png">
            <img class="cat left-up" src="/../../../4k/base_left.png">
            <img class="cat right-down" src="/../../../4k/base_0001.png">
            <img class="cat right-down" src="/../../../4k/base_0010.png">
            <img class="cat right-up" src="/../../../4k/base_right.png">
        </div>
        <div class="task">
            <div class="cat-find">고양이가 찾은 태그</div>
        </div>
    </div>




   
<script src="../../../static/js/openai/chat.js"></script>
<script src="../../../static/js/openai/cat.js"></script>
</body>
</html>

