/* 이미지를 감싸는 부모 요소에 대한 스타일 */
#image-container {
    max-width: 100%; /* 이미지 컨테이너의 최대 너비를 지정합니다. */
}

/* 실제 이미지에 대한 스타일 */
#image-container img {
    max-width: 100%; /* 이미지의 최대 너비를 100%로 지정하여 부모 요소에 맞게 조절합니다. */
    height: auto; /* 높이를 자동으로 조절하여 가로 세로 비율을 유지합니다. */
    display: block; /* 이미지를 블록 요소로 표시합니다. */
    margin: 0 auto; /* 가운데 정렬을 위해 좌우 여백을 자동으로 설정합니다. */
}