body {
    background-image: url('background.jpg');
    background-size: cover; /* 또는 다른 % 값으로 시도해보세요 */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

#notice {
    text-align: center;
    font-size: 120px;
    color: white;
    font-family: 'DM Serif Display', serif;
}

.board-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start; /* 왼쪽 정렬로 변경합니다 */
    height: auto; /* 높이를 자동으로 조절하도록 변경합니다 */
}

#pageNumber {
    color: white;
    order: 1;
    width: 30%;
    margin-top: 20px;
}

.serchForm {
    position: relative;
    order: 2; /* 중간에 위치하도록 설정합니다 */
    width: 40%; /* 전체 너비를 차지하도록 설정합니다 */
    margin-bottom: 10px; /* 간격 조절 */
}

.serchForm input[type="text"] {
    width: calc(100% - 80px); /* 입력 필드 너비 */
    padding: 10px; /* 내부 여백 */
    border: 1px solid #ccc; /* 테두리 스타일 */
    border-radius: 20px; /* 둥근 테두리 */
    outline: none; /* 포커스 시 테두리 제거 */
    float: left;
    box-sizing: border-box; /* 크기 계산을 보더와 패딩까지 고려하여 설정 */
    margin-right: 10px;
}

#serchButton {
    position: absolute;
    top: 0;
    left: calc(100% - 80px);
    width: 40px;
    height: 40px; /* 버튼을 정사각형으로 만들어줍니다. */
    background-color: #71a4f7; /* 주요 색상 */
    border: none;
    border-radius: 50%;
    color: white; /* 텍스트 색상 */
    cursor: pointer;
    transition: background-color 0.3s ease; /* 호버 시 색상 전환 효과 */
}

#refreshButton {
    position: absolute;
    top: 0;
    left: calc(100% - 30px);
    width: 40px;
    height: 40px; /* 버튼을 정사각형으로 만들어줍니다. */
    background-color: #71a4f7; /* 주요 색상 */
    border: none;
    border-radius: 50%;
    color: white; /* 텍스트 색상 */
    cursor: pointer;
    transition: background-color 0.3s ease; /* 호버 시 색상 전환 효과 */
}

.serchForm input[type="text"],
#serchButton, #refreshButton {
    display: inline-block;
}

/* 버튼에 마진을 추가하여 검색창과 버튼 간격을 조절합니다. */
#serchButton, #refreshButton {
    margin-left: 10px;
}

form[name="frmPageRows"] {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    order: 3; /* 맨 뒤에 위치하도록 설정합니다 */
    width: 30%; /* 전체 너비를 차지하도록 설정합니다 */
}

form[name="frmPageRows"] .form-select {
    flex-basis: 30%; /* 한 줄에 두 개의 select 요소가 표시되도록 설정합니다 */
    margin-bottom: 10px; /* 간격 조절 */
    margin-right: 10px;
    box-sizing: border-box; /* 요소의 크기 계산 방식 변경 */
    padding-right: 10px; /* 오른쪽 패딩 추가 */
}

#pageRows{
    margin-right: 10px;
}
#pageNumber {
    color: white;
}

#boardtable {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    border-collapse: collapse;
    font-size: 14px; /* 글자 크기 설정 */
    color: #111111;
    text-align: center; /* 텍스트 가운데 정렬 */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* 그림자 효과 추가 */

}

#boardtable th,
#boardtable td {
    padding: 8px;
}

/* 목차 스타일 */
#boardtable th {
    background-color: #003366; /* 찐 파랑 배경색 */
    color: #fff; /* 흰색 글자색 */
}

/* 목록 스타일 */
#boardtable td {
    background-color: #fff; /* 흰 바탕색 */
    color: #111111;
}

/* 마우스 호버 효과 */
#boardtable tbody tr:hover {
    background-color: #cdf0ff; /* 연하늘색 배경으로 변경 */
    cursor: pointer;
}

#boardtable a {
    color: #111111; /* 원래 글자색으로 설정 */
    text-decoration: none; /* 밑줄 제거 */
}

#boardtable td a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.col-postId { width: 10%; }
.col-title { width: 50%; }
.col-username { width: 10%; }
.col-viewCnt { width: 10%; }
.col-createdDate { width: 20%; }