.cat-box{
    position: relative;
    width: 550px;
}

.cat-text{
    display: none;
    position: absolute;
    left: 20%;
    top: 20%;
    width: 300px;
    height: 100px;
}
.cat{
    position: absolute;
    width: 100%;
    left: 30%;
}